.Management{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .Top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
        h1{
            font-size: 40px;
            font-family: 'Indie Flower', cursive;
            span{
                color: var(--tertiary-color);
            font-family: 'Indie Flower', cursive;
            }
        }
        p{
            font-size: 35px;
            span{
                color: var(--tertiary-color);
            }
        }
    }
    .selectors{
        display: flex;
       
        .selector{
            display: flex;
            align-items: center;
            margin-right:20px;
            border-radius: 10px;
            border: 2px solid var(--secondary-color);
            padding: 20px 10px;
            background-color: var(--secondary-color);
            height: 40px;
            color: white;
            cursor: pointer;
            &:hover{
                background-color: var(--primary-color);
                color: var(--secondary-color);
                transition: all 0.1s linear;
            }
            #icon{
                width: 30px;
                height: auto;
                padding: 2px;
                border-radius: 100%;
                border: 2px solid var(--secondary-color);
            }
            h2{
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 10px;
                padding-top: 5px;
            }
        }
    }
    #table{
        margin: 20px 0px;
        border-collapse: separate !important;
        border-radius: 12px;
        th{
            background-color: var(--secondary-color);
            color: white;
        }
        tr{
            border-radius: 5px;
            border: 1px solid black;
            padding: 10px;
            background-color: rgba;
            margin: 20px;
            td,th{
                padding: 12px;
            }
            &:nth-child(2n){
                background-color: rgba(225, 225, 225, 0.5);
            }
        }
    }
}