.Carousel_comp{
    .Slide{
        border-radius: 20px;
        height: 90vh;
        width: 98vw;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 150px;
            font-weight: 900;
            color: white;
        }
    }
}